<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>MVVM QuickSpec</string>
	<key>Description</key>
	<string>Contains Quick framework init Test template for project with MVVM usage</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the View Model to test</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Test Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___ViewModelTests</string>
			<key>Description</key>
			<string>View Model Unit Test name</string>
			<key>Identifier</key>
			<string>viewModel</string>
			<key>Name</key>
			<string>View Model Test Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>Simple QuickSpec test for VM</string>
	<key>SupportsSwiftPackage</key>
	<true/>
</dict>
</plist>
