<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>JSON</string>
	<key>Description</key>
	<string>empty JSON file</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>JSON</string>
	<key>SupportsSwiftPackage</key>
	<true/>
		<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the JSON File to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>Json file name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
