<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Useful RxSwift extensions</string>
	<key>Description</key>
	<string>Contains common and useful RxSwift extensions</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>Contains common and useful RxSwift extensions</string>
</dict>
</plist>
