# Xcode
.DS_Store
.Trashes
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
#*.xcworkspace
!default.xcworkspace
xcuserdata
*.moved-aside
DerivedData
.idea/
*~.nib
*.swp

# Pods - for those of you who use CocoaPods
Pods
YOUR_PROJECT.xcworkspace
YOUR_PROJECT.app.dSYM.zip
YOUR_PROJECT.ipa